@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2 id="ajaxTest">Hello,Index Page!</h2>
    <button onclick="query()">click me</button>
</div>

@section Scripts
{
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        function query() {
          $.ajax({
               type: "GET",
               url: "/rest/index",
               dataType: "json",
               contentType: "application/json;charset=UTF-8",
               // data: JSON.stringify(params),
               success: function(data) {
                    alert(data);
                    $("#ajaxTest").html(data);
               }
          });
        }
    </script>
}
